@import url("https://fonts.googleapis.com/css?family=Rubik:300,700&subset=cyrillic");

body {
    margin: 0;
    background-color: $gray-fa;
    font-family: $basefont;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
}
